{% extends "./layout/mainLayout.njk" %}

{% block mainbody %}

    <h1>New user. Create new account</h1>
    <div id="newUserAccount" class="hide">

        <form action="/user/createUser" method="post" id="form2" >

            <label for="newUser">Username: </label>
            <input type="text" name="user" id="new_user_id"><br>
            <br>
            <label for="newPassword">Password:  </label>
            <input type="text" name="password" id="new_password">
            <br><br>
            <input type="submit" value = "Submit">

        </form>
    </div>

{% endblock mainbody %}
<script>
    // This form is to submit login request
    form2.onsubmit = (e)=>{
            e.preventDefault()
            const formData = new FormData(e.target)
            const formProps = Object.fromEntries(formData)
            const jsonString = JSON.stringify(formProps)


            // Fetch Request
            fetch("/user/createUser", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: jsonString
            })
                .then(res => res.json())
        }

</script>